.stuffContent
  div.row
    .searchForm.small-12.columns 
      form.animated.fadeIn(role='form', novalidate)
        .form-group
          label.search.animated.fadeInDown(for='url') URL
          input.animated.fadeInDown(ng-model='search.mainUrl', type='text', autofocus)
        .form-group
          label.search.animated.fadeInUp(for='depth') Depth
          input.animated.fadeInUp(ng-model='search.depth', type='number', ng-minlength='1', ng-maxlength='2', required, autofocus)
      button.button.secondary.success.alert.animated.flipInY(ng-click='queueSearch()') Search
      .loading(ng-show='isLoading') Loading...this may take a while
      .loading(ng-show='hasLoaded') Done loading!
      
